body {
  background-color: #444;
  font-family: Ubuntu, Verdana, sans-serif;
  padding: 20px;
  text-align: center;
  color: #111;
}

#main-box {
  margin: 0 auto;
  display: inline-block;
  
  padding: 20px;

  background-color: #fec400;
  background-image: url("images/smartDFI.png");
  background-repeat: no-repeat;
  background-position: top 20px right 20px;
  background-size: 250px;

  border-radius: 5px;

  box-shadow: 0px 8px 10px #222;
}

#header-box {
}

h1 {
  margin: 10px;
  margin-bottom: 40px;
  margin-top: 0px;
  font-size: 40px;
  text-align: left;
}

h3 {
  margin: 10px;
  margin-bottom: 0px;
  text-align: left;
  font-style: italic;
}

#content-box {
  padding: 20px 40px;
  text-align: center;
}

#panel-box {
  display: inline-block;
  vertical-align: top;
  
  width: 600px;
  margin-right: 40px;
  margin-bottom: 30px;
  padding: 15px;

  border: 2px solid black;
  border-radius: 5px;

  background-color: #222;
  color: #fff;

  box-shadow: 0px 0px 20px #ffedb3;
}

#panel-table {
  width: 100%;
}

#panel-table tr {
  background-color: #333;
}

#panel-table th {
  padding: 3px;
  margin-bottom: 10px;
  height: 30px;
  border-bottom: 5px solid #222;

  /*font-weight: bold;*/
  text-align: left;
  font-size: 20px;
  letter-spacing: 1px;
}

#panel-table td {
  padding: 0px 10px;
  border-top: 16px solid #222;
  border-left: 5px solid #222;
  border-right: 5px solid #222;
  height: 40px;
}

#panel-table td input {
  font-size: 20px;
  color: #dfff80;
  background: transparent;
  border: none;
}

.input-left {
  width: 100%;
  text-align: left;
}

.input-right {
  width: 0%;
  display: none;
  text-align: right;
}

#control-box {
  display: inline-block;
  vertical-align: top;
  
  padding: 15px 0px;  
}

#control-table {
}

#control-table th {
  padding: 0 20px;
  padding-bottom: 10px;
  height: 30px;
  border-bottom: 5px solid transparent;

  /*font-weight: bold;*/
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}

#control-table td {
  padding: 0px 20px 1px 20px;
  border-top: 15px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  text-align: center;
}

#control-table td select {
	border: 1px solid #444;
	border-radius: 0.25em;
	text-align: center;
	padding: 11px;
	background-color: transparent;
	background-image: linear-gradient(to top, #fec400, #cf9f00 95%);
}

#control-table td button {
	padding: 6px;
	margin-top: 25px;
}

#control-table td button[type=submit] {
	font-weight: bold;
}

#footer-box {
  text-align: center;
  font-size: 0.8em;
}

a {
  color: black;
}
